<header class="bg-[#0f4390] text-white p-4 flex justify-between items-center">
  <h1 class="text-3xl">Todo App</h1>
  <nav class="space-x-4">
    <a href="/" class="hover:underline">Home</a>
    <a href="/login" class="hover:underline">Login</a>
    <a href="/signup" class="hover:underline">Sign Up</a>
    <a href="/todolist" class="hover:underline">Todo List</a>
  </nav>
</header>
